* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#root {
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  height: 100%;
}
.main {
  max-width: 90%;
  margin: auto;
  background-color: #fff;
  /*min-height: 80vh;*/
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}


/*width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c84ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b5bfe;
}

@media(max-width:800px){
  .main{
    margin: auto;
    background-color: #fff;
    /*min-height: 80vh;*/
    height: 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  #root{
    height: 100%;
  }
  
  /*width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c84ff;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b5bfe;
  }
  
}