.main__chatcontent {
    flex-grow: 1;
    padding: 20px 40px;
    max-width: 90%;
  }
  .content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ebe7fb;
  }
  .current-chatting-user {
    display: flex;
    align-items: center;
  }
  .current-chatting-user p {
    margin: 0;
    font-weight: 600;
  }
 
  .content__body {
   max-height: 490px;
   /*min-height: calc(100vh-99px-30px);*/
    overflow-y: auto;
    overflow-x: hidden;

  }
  .chat__item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: right;
    animation-name: showIn;
    animation-duration: 0.2s; 
    animation-iteration-count: 1;
    animation-direction: normal; 
    animation-timing-function: cubic-bezier(
      0.88,
      0.19,
      0.37,
      1.11
    ); 
    animation-fill-mode: both; 
    animation-delay: 0.2s; 
  }
  @keyframes showIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .chat__item .avatar {
    margin-right: 0px;
    margin-left: 20px;
    background: #fff;
    padding: 1px;
  }
  .avatar-img img{
    height: 40px;
    width: 40px;
  }
  .chat__item__content {
    background-color: #4462ff;
    color: #fff;
    padding: 15px;
    word-wrap:break-word;
    border-radius: 10px 10px 0 10px;
    max-width: 50%;
    min-width: 215px;
  }
  .chat__item__content .chat__meta {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
  }
  .chat__item__content .chat__meta span {
    font-size: 10px;
    color: black;
    user-select: none;
  }
  
  .chat__item.other {
    flex-direction: row-reverse;
    transform-origin: left;
  }
  .chat__item.other .chat__item__content {
    background-color:lightgray;
    color: #000;
    border-radius: 10px 10px 10px 0;
    word-wrap:break-word;
    max-width: 50%;
  }
  .chat__item.other img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    /*margin-right: 20px;*/
    margin-left: 0px;
  }
  .chat__item.other .chat__item__content .chat__meta span {
    color: black;
    font-size: 10px;
  }
  .content__footer {
    
    padding-bottom: 10px;
  }
  .sendNewMessage {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
  }

  .sendNewMessage button img{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
  }
  .sendNewMessage button:hover {
    transform: scale(1.2);
  }
  .sendNewMessage button i {
    display: block;
  }
  .sendNewMessage input {
    flex-grow: 1;
    height: 40px;
    max-width: 90%;
    padding: 0 15px;
    background-color: lightgray;
    border-radius: 10px 10px 10px 10px;
    outline: none;
  }
  #sendMsgBtn {
    background-color: #3b5bfe;
    color: #fff;
  }
  @media(max-width:800px){
    .main__chatcontent {
      flex-grow: 1;
      max-width:100%;
      padding: 0;
      height: 100%;
    }
    .content__header {
      display: flex;
      align-items: center;
      padding-top: 10px;
      margin-top: 10px;
      border-bottom: 1px solid #ebe7fb;
    }

    .current-chatting-user {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    .current-chatting-user p {
      margin: 0;
      font-weight: 600;
    }
    .content__body {
  
      overflow: auto;
    }
    .chat__item{
      max-width: 100%;
    }
    .chat__item .avatar {
      margin-left: 0px;
    }
    .chat__item__content{
      padding: 10px;
    }
    .chat__item.other img {
      margin-right: 0px;
    }
    .content__footer {
      padding-top: 20px;
    }
    .main__chatcontent{
      width: 100%;
    }
    .content__footer {
      padding-bottom: 10px;
      position: relative;
      bottom: 0;
    }
  }